<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
<div id="adm_wrap">
    <header>
        <div class="head">
            <a href="/account" class="on" style="color:323232;font-size: 2em;font-weight: bold;">BudgetChecker</a>

            <div th:if="${user==null}" style="float: right;">
                    <a href="/auth/login" role="button" class="btns btn_bdr1 btn_mid"> 로그인</a>
                    <a href="/auth/join" role="button" class="btns btn_bdr3 btn_mid"> 회원가입</a>
            </div>

            <div th:unless="${user==null}" style="float: right;">
                <span th:text="${user.nickname}"></span>
                <span>님 안녕하세요!</span>
                <a href="/logout" class="btns btn_bdr4 btn_mid">로그아웃</a>
                <a href="/modify" class="btns btn_bdr5 btn_mid">회원정보 수정</a>
            </div>
        </div>
    </header>


    <footer>Copyright(c) DY.All rights reserved.</footer>
</div>


<th:block layout:fragment="script">

</th:block>
</body>
</html>