<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
<div id="adm_wrap">



    <header>

            <li style="float:left;">
                <a style="color:323232;font-size: 2em;font-weight: bold;">Budget Checker</a>
            </li>

            <li>
                      <span th:if="${user!=null}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </li>


            <ul id="menu" class="shadow">
                <li>
                    <a href="#about" style="text-decoration-line: none; font-size:1.2em;">About</a>
                </li>
                <!--
                <li>
                    <a href="#experience">Experience</a>
                </li>
                 -->

                <li>
                    <a href="#education" style="text-decoration-line: none; font-size:1.2em;">Education</a>
                </li>
                <li>
                    <a href="#projects" style="text-decoration-line: none; font-size:1.2em;">Projects</a>
                </li>
                <li>
                    <a href="#skills" style="text-decoration-line: none; font-size:1.2em;">Skills</a>
                </li>
                <li>
                    <a href="#certificate" style="text-decoration-line: none; font-size:1.2em;">Certificate</a>
                </li>
            </ul>


            <ul style="float:right;">
                <div th:if="${user==null}">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <li>
                        <a href="/auth/login" role="button" class="btn btn-outline-primary me-2"
                           style="text-decoration-line: none;">Login</a>
                    </li>

                    <li>
                        <a href="/auth/join" role="button" class="btn btn-primary" style="text-decoration-line: none;">Sign-up</a>
                    </li>
                    <span>&nbsp;</span>

                </div>
                <div th:unless="${user==null}">
                    <li>
                        <span style="font-size:1.1em; font-weight: bold ;" th:text="${user.nickname}"></span>
                        <span style="font-size:1.1em; margin-left:5px;">님 안녕하세요!</span>
                    </li>

                    <li>
                        <a href="/logout" class="btns btn_bdr5 btn_mid"
                           style="text-decoration-line: none; margin-left:10px;">로그아웃</a>
                    </li>

                    <li>
                        <a href="/modify" class="btns btn_bdr5 btn_mid" style="text-decoration-line: none; ">회원정보 수정</a>
                    </li>

                </div>
            </ul>


    </header>


    <th:block layout:fragment="content">
    </th:block>


    <footer>Copyright(c) DY.All rights reserved.</footer>
</div>


<th:block layout:fragment="script">

</th:block>
</body>
</html>